* {
  margin: 0;
  padding: 0;
}
html,
body {
  color: #34495e;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
html .form-control,
body .form-control {
  padding: 4px 0;
}
.clear {
  content: '';
  display: block;
  clear: both;
}
.red {
  color: #c0392b;
}
.green {
  color: #2ecc71;
}
.blue {
  color: #2980b9;
}
.orange {
  color: #e67e22;
}
header {
  height: 65px;
}
header .title {
  height: 65px;
  line-height: 65px;
  font-size: 32.5px;
  margin-left: 65px;
  color: #2980b9;
  font-weight: bold;
}
nav {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 auto;
  height: 100px;
  width: 1024px;
  background: #bdc3c7;
}
nav .firstRow .firstRowClear {
  content: '';
  display: block;
  clear: both;
}
nav .secondRow .secondRowClear {
  content: '';
  display: block;
  clear: both;
}
nav label {
  float: left;
  line-height: 50px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
nav .linkLabel {
  margin-left: 10px;
  margin-right: 10px;
}
nav .form_date {
  height: 30px;
  width: 160px;
  margin-top: 8px;
  float: left;
}
nav .scope,
nav .machineKind,
nav .operation,
nav .moKind,
nav .mainType,
nav .exceptionTypes,
nav .trainingResult {
  float: left;
  margin-top: 8px;
}
nav .scope {
  width: 45px;
}
nav .machineKind {
  width: 100px;
}
nav .chosen-container {
  float: left;
  font-size: 14px;
}
nav .chosen-container .chosen-single {
  margin-top: 8px;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 4px;
  background: #fff;
}
nav .chosen-container .chosen-single b {
  margin-top: 6px;
}
nav .chosen-container .search-choice-close {
  margin-top: 6px;
}
nav .operation {
  width: 100px;
}
nav .moKind {
  width: 80px;
}
nav .mainType {
  width: 80px;
}
nav .trainingResult {
  width: 80px;
}
nav .exceptionTypes {
  width: 180px;
  border-radius: 15px;
}
nav .searchBtn {
  width: 100px;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
  line-height: 34px;
  background: #1abc9c;
  float: left;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
nav .searchBtn span {
  margin-left: 10px;
  font-weight: bold;
  color: #ecf0f0;
  font-size: 18px;
}
nav .searchBtn img {
  margin-left: 10px;
  vertical-align: middle;
}
nav .searchBtn:hover {
  top: 2px;
  box-shadow: -1px -1px 1px #16a085;
  box-shadow: -2px -2px 1px #16a085;
}
nav .addNew {
  float: left;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
}
nav .addNew img {
  position: relative;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.2s;
}
nav .addNew:hover img {
  top: 2px;
  box-shadow: -1px -1px 1px #2980b9;
  box-shadow: -2px -2px 1px #2980b9;
}
nav .export {
  float: left;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
}
nav .export img {
  position: relative;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.2s;
}
nav .export img {
  position: relative;
  border-radius: 5px;
  vertical-align: middle;
  transition: 0.2s;
}
nav .export:hover img {
  position: relative;
  top: 2px;
  box-shadow: -1px -1px 1px #2980b9;
  box-shadow: -2px -2px 1px #2980b9;
}
article {
  width: 1024px;
  margin: 0 auto;
}
article .title {
  margin: 0 auto;
  background: #2980b9;
  position: relative;
  height: 40px;
}
article .title .item {
  margin: 5px 10px;
  height: 30px;
  line-height: 30px;
  background: #ecf0f0;
  text-align: center;
  float: left;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s;
}
article .title .item:hover {
  background: #34495e;
  color: #ecf0f0;
}
article .title .first {
  margin-left: 25px;
}
article .title .date {
  width: 90px;
}
article .title .scope {
  width: 45px;
}
article .title .machineKind {
  width: 80px;
}
article .title .moType {
  width: 80px;
}
article .title .mainType {
  width: 80px;
}
article .title .exceptionTypes {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
article .title .operationGroup {
  width: 110px;
}
article .title .employee {
  width: 100px;
}
article .title .trainingResult {
  width: 100px;
}
article .body {
  margin: 0 auto;
  border: 1px solid #95a5a6;
  height: 520px;
  background: #ecf0f0;
  overflow: auto;
}
article .body .listRow {
  height: 40px;
  background: #bdc3c7;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
article .body .listRow .item {
  margin: 5px 10px;
  height: 28px;
  line-height: 28px;
  background: #ecf0f0;
  text-align: center;
  float: left;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s;
}
article .body .listRow .first {
  margin-left: 10px;
}
article .body .listRow .date {
  width: 90px;
}
article .body .listRow .scope {
  width: 45px;
}
article .body .listRow .machineKind {
  width: 80px;
}
article .body .listRow .moType {
  width: 80px;
}
article .body .listRow .mainType {
  width: 80px;
}
article .body .listRow .exceptionTypes {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
article .body .listRow .operationGroup {
  width: 110px;
  float: left;
}
article .body .listRow .operationGroup img {
  width: 10px;
  transition: 0.2s;
}
article .body .listRow .operationGroup:hover img {
  width: 10px;
  transform: rotate(-90deg);
}
article .body .listRow .employee {
  width: 100px;
}
article .body .listRow .employee img {
  width: 10px;
  transition: 0.2s;
}
article .body .listRow .employee:hover img {
  transform: rotate(-90deg);
}
article .body .listRow .trainingResult {
  width: 100px;
}
article .footerBar {
  background: #2980b9;
  height: 30px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
article .footerBar .pageControl {
  width: 200px;
  height: 28px;
  margin: 1px auto;
}
article .footerBar .pageControl .prePage {
  float: left;
  height: 28px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
article .footerBar .pageControl .prePage img {
  height: 100%;
}
article .footerBar .pageControl .prePage:hover {
  right: -2px;
}
article .footerBar .pageControl .nowPage {
  float: left;
  width: 30px;
  height: 20px;
  margin-top: 5px;
  border-radius: 4px;
  background: #ecf0f0;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}
article .footerBar .pageControl span {
  float: left;
  line-height: 30px;
  font-weight: bold;
  color: #1afa29;
  font-size: 24px;
  margin: 0 5px;
}
article .footerBar .pageControl .allPage {
  float: left;
  width: 30px;
  height: 20px;
  margin-top: 5px;
  border-radius: 4px;
  background: #ecf0f0;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  background: #bdc3c7;
}
article .footerBar .pageControl .aftPage {
  float: left;
  height: 28px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
article .footerBar .pageControl .aftPage img {
  height: 100%;
}
article .footerBar .pageControl .aftPage:hover {
  left: -2px;
}
.insertMo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #bdc3c7;
  background: rgba(243, 156, 18, 0.5);
  display: none;
}
.insertMo .bg {
  width: 95%;
  min-width: 1255px;
  margin: 20px auto 0px auto;
  padding-bottom: 20px;
  background: rgba(52, 73, 94, 0.9);
  z-index: 2;
  border-radius: 5px;
  transition: 0.3s;
}
.insertMo .bg .title {
  height: 50px;
  width: 200px;
  margin: 10px 15px 0 15px;
  background: #ecf0f0;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: #2980b9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 50px;
  display: inline-block;
}
.insertMo .bg .closeBtn {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  background: #bdc3c7;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
}
.insertMo .bg .info {
  margin: 0 15px;
  height: 600px;
  background: #ecf0f0;
  border-top-right-radius: 5px;
  overflow: auto;
  padding-top: 10px;
}
.insertMo .bg .info label {
  float: left;
  line-height: 50px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.insertMo .bg .info .form_date {
  height: 30px;
  width: 160px;
  margin-top: 8px;
  float: left;
}
.insertMo .bg .info .baseInfo .scope,
.insertMo .bg .info .baseInfo .machineKind,
.insertMo .bg .info .baseInfo .operation,
.insertMo .bg .info .baseInfo .moKind,
.insertMo .bg .info .baseInfo .mainType,
.insertMo .bg .info .baseInfo .exceptionTypes,
.insertMo .bg .info .baseInfo .trainingAgain,
.insertMo .bg .info .baseInfo .managePerson,
.insertMo .bg .info .baseInfo .mainState,
.insertMo .bg .info .baseInfo .badCount,
.insertMo .bg .info .baseInfo .productCount,
.insertMo .bg .info .baseInfo .badRate {
  float: left;
  margin-top: 8px;
}
.insertMo .bg .info .baseInfo .scope {
  width: 45px;
}
.insertMo .bg .info .baseInfo .machineKind {
  width: 100px;
}
.insertMo .bg .info .baseInfo .operation {
  width: 110px;
}
.insertMo .bg .info .baseInfo .moKind {
  width: 80px;
}
.insertMo .bg .info .baseInfo .trainingAgain {
  width: 45px;
}
.insertMo .bg .info .baseInfo .chosen-container {
  float: left;
  font-size: 14px;
}
.insertMo .bg .info .baseInfo .chosen-container .chosen-single {
  margin-top: 8px;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 4px;
  background: #fff;
}
.insertMo .bg .info .baseInfo .chosen-container .chosen-single b {
  margin-top: 6px;
}
.insertMo .bg .info .baseInfo .chosen-container .search-choice-close {
  margin-top: 6px;
}
.insertMo .bg .info .baseInfo .managePerson {
  width: 70px;
}
.insertMo .bg .info .baseInfo label[for="insertExceptionTypes"] {
  clear: left;
}
.insertMo .bg .info .baseInfo .exceptionTypes {
  width: 100px;
}
.insertMo .bg .info .baseInfo .productCount {
  width: 50px;
}
.insertMo .bg .info .baseInfo .badCount {
  width: 50px;
}
.insertMo .bg .info .baseInfo .badRate {
  width: 50px;
}
.insertMo .bg .info .baseInfo::after {
  content: '';
  display: block;
  clear: both;
}
.insertMo .bg .info .employeeInfo .operation,
.insertMo .bg .info .employeeInfo .addEmployee,
.insertMo .bg .info .employeeInfo .operationAdd,
.insertMo .bg .info .employeeInfo .employeeAdd,
.insertMo .bg .info .employeeInfo .operationDel,
.insertMo .bg .info .employeeInfo .employeeDel {
  float: left;
  margin-top: 8px;
}
.insertMo .bg .info .employeeInfo .operationGroup .aOperation {
  width: 200px;
  float: left;
}
.insertMo .bg .info .employeeInfo .operationGroup .operation {
  width: 110px;
}
.insertMo .bg .info .employeeInfo .operationGroup .operationDel {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
}
.insertMo .bg .info .employeeInfo .operationGroup .operationDel img {
  width: 100%;
}
.insertMo .bg .info .employeeInfo .operationGroup .operationAdd {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
}
.insertMo .bg .info .employeeInfo .operationGroup .operationAdd img {
  width: 100%;
}
.insertMo .bg .info .employeeInfo .operationGroup .operationClear {
  content: '';
  display: block;
  clear: both;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup {
  zoom: 1;
  float: left;
  width: 950px;
  border-bottom: 1px solid #95a5a6;
  padding-bottom: 5px;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .addEmployee {
  width: 150px;
  float: left;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .chosen-container {
  float: left;
  font-size: 14px;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .chosen-container .chosen-single {
  margin-top: 8px;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 4px;
  background: #fff;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .chosen-container .chosen-single b {
  margin-top: 6px;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .employeeDel {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .employeeDel img {
  width: 100%;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .employeeAdd {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .aEmployee .employeeAdd img {
  width: 100%;
}
.insertMo .bg .info .employeeInfo .operationGroup .employeeGroup .employeeClear {
  content: '';
  display: block;
  clear: both;
}
.insertMo .bg .info .employeeInfo .operationGroup::after {
  display: block;
  content: '';
  clear: both;
}
.insertMo .bg .info .employeeInfo::after {
  display: block;
  content: '';
  clear: both;
}
.insertMo .bg .info .mainState {
  width: 80px;
}
.insertMo .bg .info .memo {
  float: left;
  margin-left: 40px;
  min-height: 200px;
  margin-top: 10px;
  border-radius: 5px;
  width: 800px;
  background: #ecf0f0;
  border: 1px solid #7f8c8d;
}
.insertMo .bg .bottomButton {
  height: 50px;
  margin: 0 15px;
  background: #ecf0f0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.insertMo .bg .bottomButton .submit {
  width: 150px;
  height: 40px;
  background: #16a085;
  font-weight: bold;
  color: #ecf0f0;
  font-size: 30px;
  line-height: 40px;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
  text-align: center;
  transform: 0.2s;
  position: relative;
  cursor: pointer;
}
.insertMo .bg .bottomButton .delete {
  width: 150px;
  height: 40px;
  background: #16a085;
  font-weight: bold;
  color: #ecf0f0;
  font-size: 30px;
  line-height: 40px;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
  text-align: center;
  transform: 0.2s;
  position: relative;
  cursor: pointer;
  background: #c0392b;
}
.insertMo .bg .bottomButton .delete:hover {
  top: 2px;
  left: 2px;
  box-shadow: -1px -1px 1px #2980b9;
  box-shadow: -2px -2px 1px #2980b9;
}
.insertMo .bg .bottomButton .submit:hover {
  top: 2px;
  left: 2px;
  box-shadow: -1px -1px 1px #2980b9;
  box-shadow: -2px -2px 1px #2980b9;
}
